@charset "UTF-8";

body {
    background-color: rgb(98, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(38, 85, 69);
}
h2 {
    color: brown;
}
p {
    text-align: justify;
}